/* @import "react-slideshow-image/dist/styles.css"; */
@import "./embla.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.65);
  transition: color 0.3s;
}

.body-color {
  color: #666666;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir='rtl'] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

ol, ul {
  padding-left: 40px;
}

/* slide indicator styles */
/* .indicator {
  width: 7px;
  height: 7px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-inline: 2px;
  cursor: pointer;
}

.indicator.active {
  background-color: #3EC8C8;
} */